<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class = "login">
                <h3>Registro</h3>

                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" formControlName="name" placeholder="Nombre" required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-envelope"></i>
                    <input type="email" class="login__input" formControlName="email" placeholder="Email" required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" formControlName="password" placeholder="Contraseña" required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" formControlName="confirmPassword" placeholder="Confirmar Contraseña" required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user-tag"></i>
                    <select class="login__input" required formControlName="role">
                        <option value="" disabled selected>Seleccionar Rol</option>
                        <option value="admin">Administrador</option>
                        <option value="viewer">Visualizador</option>
                    </select>
                </div>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Registrarse</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>		
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>